# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [self-hosted, dev]
    env:
      PROJECT: ${{ secrets.PROJECT }}
      SMB_PASSWORD: ${{ secrets.SMB_PASSWORD }}            
      SMB_URL: ${{ secrets.SMB_URL }}            
      SMB_USERNAME: ${{ secrets.SMB_USERNAME }}            
      SMB_WORKGROUP: ${{ secrets.SMB_WORKGROUP }}            
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      CI_COMMIT_TYPE: ${GITHUB_REF_TYPE}          
      CI_COMMIT_TAG: ${GITHUB_REF_NAME}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      - name: rm
        run: rm -r externals/
      - name: rm prebuilts/
        run: rm -r prebuilts/
      - name: ls
        run: ls
      - name: wget
        run: wget -r --http-user=admin --http-password=adminadminadmin --content-disposition -O dependency.tar.gz  http://192.168.12.90:8081/repository/self_hosted/dependency.tar.gz
      - name: tar
        run: tar zxvf dependency.tar.gz
      - name: cp
        run: cp -r dependency/* ./
      - name: ls
        run: ls
      - name: mount
        run: mount -t cifs //192.168.12.173/IOT-Release/account-manager smbtmp -o user="brightcheng",password=${{ env.SMB_PASSWORD }},iocharset=utf8
      - name: unmount
        run: umount smbtmp
      # - name: build account-manager
      #   run: python3 scripts/build.py
      # - name: packaging account-manager
      #   run: python3 scripts/packaging.py
#       - name: curl nexus
#         run: curl -v -u admin:adminadminadmin --upload-file account-manager.tar.gz http://192.168.12.90:8081/repository/account-manager-import/
      
        
